{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}

    Perfil - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
    <h5><b>Editar Perfil</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <form action="" method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.biography.id_for_label }}">Biografia</label>
                    {{ form.biography|add_class:"form-control" }}
                </div>
                <div class="form-group">
                   <label for="{{ form.type.id_for_label }}">Tipo</label>
                   {{ form.type|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.phone.id_for_label }}">Celular</label>
                    {{ form.phone|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.area.id_for_label }}">Área</label>
                    {{ form.area|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.git.id_for_label }}">Git</label>
                    {{ form.git|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.photo.id_for_label }}">Foto</label>
                    {{ form.photo|add_class:"form-control-file" }}
                </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>       
                </form>
            </div>
        </div>
    </div>

{% endblock body %}