{% extends 'base.html' %}

{% block title %}

    Lista de Times - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Times</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'teams:add_team' %}">Cadastro de novo time</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Dono</th>
                    <th scope="col">Integrantes</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        <tr>
                            <th scope="row">{{ team.id }}</th>
                            <td>{{ team.name }}</td>
                            <td>{{ team.owner }}</td>
                            <td>
                                {% for userTeam in userTeams %}
                                    {% if userTeam.team.id == team.id %}
                                        <li>{{ userTeam.user }}</li>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            {% if user.id == team.owner.id %}
                                <td>
                                    <a href="{% url 'teams:edit_team' team.id %}" class="btn btn-primary btn-sm">Editar</a>
                                </td>
                                <td>    
                                    <a href="{% url 'teams:delete_team' team.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                                </td>
                            {% endif %}
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}