{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}

    Demonstrar Interesse - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
    <h5><b>Demonstrar Interesse</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <form action="" method="POST"> 
                    {% csrf_token %}
                <p>Deseja demonstrar interesse com qual time?</p>
                <div class="form-group">
                    <label for="{{ form.team.id_for_label }}">Time</label>
                    {{ form.team|add_class:"form-control" }}
                </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>       
                </form>
            </div>
        </div>
    </div>

{% endblock body %}