{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}


{% block blockname %}
    Detalhe da Demanda - {{ block.super }}
{% endblock blockname %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <br />
            <h1>Detalhe da Demanda</h1>
            <br />
            <div class="media">
                <img src="{{ demand.file.url }}" class="align-self-start mr-3 rounded-circle" width="100" height="100">
                <div class="media-body">
                    <h5 class="mt-0">{{ demand.title }}</h5>
                    <p>Description: {{ demand.description }}</p>
                    <p>Prazo Final: {{ demand.deadline }}</p>
                    <p>Status: {{ demand.status }}</p>
                    <p>Dono: {{ demand.owner }}</p>
                    <p>Time: {{ demand.team }}</p>
                </div>
            </div>
            <br />
            <h3>Interessados</h2>
            <td>
                {% if demandTeamLikes.lenght > 0 %}
                    {% for demandTeamLike in demandTeamLikes %}
                        {% if demandTeamLike.demand.id == demand.id %}
                            <li>{{ demandTeamLike.team.name }}</li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>Nenhum time demonstrou interesse ainda.</p>
                {% endif %}
                
            </td>
        </div>
    </div>
{% endblock body %}